<div class="row" ng-class="{'has-error': ctrl.search_criteria.date_end__gte > ctrl.search_criteria.date_beg__lte}">
	<label class="control-label col-md-12">Observation date</label>
	<div class="form-group col-md-6">
		<label for="date_end" class="control-label small">start</label>
		<div class="input-group">
			<input type="text" id="date_end" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" ng-model="ctrl.search_criteria.date_end__gte" is-open="date_end_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="date_end_picker = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label for="date_beg" class="control-label small">end</label>
		<div class="input-group">
			<input type="text" id="date_beg" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" ng-model="ctrl.search_criteria.date_beg__lte" is-open="date_beg_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="date_beg_picker = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="row" ng-class="{'has-error': ctrl.search_criteria.wavemin__lte < ctrl.search_criteria.wavemax__gte}">
	<label class="control-label col-md-12">Observation wavelength</label>
	<div class="form-group col-md-6">
		<label for="wavemax" class="control-label small">min</label>
		<div class="input-group">
			<input type="number" id="wavemax" class="form-control" ng-model="ctrl.search_criteria.wavemax__gte"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ctrl.search_criteria.angstrom = !ctrl.search_criteria.angstrom" title="Click to change from Ångström to nano meters">
					{{ctrl.search_criteria.angstrom ? "&Aring;" : "nm"}}
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label for="wavemin" class="control-label small">max</label>
		<div class="input-group">
			<input type="number" id="wavemin" class="form-control" ng-model="ctrl.search_criteria.wavemin__lte"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ctrl.search_criteria.angstrom = !ctrl.search_criteria.angstrom" title="Click to change from Ångström to nano meters">
					{{ctrl.search_criteria.angstrom ? "&Aring;" : "nm"}}
				</button>
			</span>
		</div>
	</div>
</div>
