<div class="modal-header">
	<button type="button" class="pull-right close" ng-click="$dismiss()" title="Close the window">
		<span >&times;</span>
	</button>
	<h3 class="modal-title">{{ctrl.dataset.name}}</h3>
</div>
<div class="modal-body">
	<img ng-src="{{ctrl.metadata.data_location.thumbnail_url ? ctrl.metadata.data_location.thumbnail_url : './no_preview_available.jpg'}}" class="img-responsive center-block" alt="Data thumbnail"/>
	<table class="table table-condensed table-responsive">
		<thead>
			<tr>
				<th><input type="text" class="form-control" placeholder="Filter on FITS keywords" ng-model="searchText"></th>
			</tr>
		</thead>
		<tfoot>
			<tr ng-hide="ctrl.metadata.fits_header.length > 0"><td class="text-center text-warning" colspan="1">No FITS header available.</td></tr>
		</tfoot>
		<tbody>
			<tr ng-repeat="card in ctrl.metadata.fits_header | splitText : 80 | regex : '\\S+' | filter : searchText track by $index">
				<td>{{card}}</td>
			</tr>
		</tbody>
	</table>
</div>
