<div class="row">
	<div class="col-md-4">
		<form ng-submit="ctrl.search(ctrl.search_criteria)">
			<div ng-include="ctrl.form_template_url">
				Please wait while the search form is loading...
			</div>
			<div class="form-group" id="tags" ng-show="ctrl.tags.length > 0">
				<label for="tags" class="control-label">Tags:</label>
				<ui-select multiple="true" ng-model="ctrl.search_criteria.tags__in" theme="bootstrap">
					<ui-select-match placeholder="select or search tags">{{$item}}</ui-select-match>
					<ui-select-choices repeat="tag in ctrl.tags | getProp: 'name' | filter: $select.search">
					  <div ng-bind-html="tag | highlight: $select.search"></div>
					</ui-select-choices>
				  </ui-select>
			</div>
			<input type="submit" value="Search" class="btn btn-primary btn-md" />
		</form>
	</div>
	
	<div class="col-md-8" bs-loading-overlay bs-loading-overlay-reference-id="{{ctrl.overlay_id}}">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th></th>
					<th ng-repeat="column in ctrl.columns">{{column[1]}}</th>
					<th>Tags</th>
				</tr>
			</thead>
			<tfoot>
				<tr ng-switch="ctrl.page.objects.length > 0">
					<td ng-switch-when="true" class="text-center small" colspan="100">Click on any row to see data details</td>
					<td ng-switch-default class="text-center text-warning" colspan="100">No metadata correspond to your search criteria</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="metadata in ctrl.page.objects" ng-click="ctrl.open_detail(metadata)">
					<td><input type="checkbox" checklist-model="ctrl.selected_metadata" checklist-value="metadata" ng-click="$event.stopPropagation();"/></td>
					<td ng-repeat="column in ctrl.columns">{{metadata[column[0]]}}</td>
					<td>{{metadata.tags | getProp:'name':', '}}</td>
				</tr>
			</tbody>
		</table>
		<div class="pager">
				<button type="button" class="btn btn-default btn-sm previous" ng-click="ctrl.change_page(ctrl.page.previous_page_number())" ng-class="{'disabled': !ctrl.page.has_previous()}">&larr;</button>
				<button type="button" class="btn btn-default btn-sm next" ng-click="ctrl.change_page(ctrl.page.next_page_number())" ng-class="{'disabled':  !ctrl.page.has_next()}">&rarr;</button>
		</div>
		<div role="group">
			<button type="button" class="btn btn-primary" ng-click="ctrl.save_data_selection(ctrl.selected_metadata)" ng-class="{'disabled': ctrl.selected_metadata.length == 0}" title="Select one or more metadata to add to/create a selection">Save selection</button>
		</div>
	</div>
</div>