<div class="row" ng-class="{'has-error': ctrl.search_criteria.date_end__gte > ctrl.search_criteria.date_beg__lte}">
	<label class="control-label col-md-12">Observation date</label>
	<div class="form-group col-md-6">
		<label for="date_end" class="control-label small">start</label>
		<div class="input-group">
			<input type="text" id="date_end" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" timepicker-options="{readonlyInput: false, showMeridian: false}" ng-model="ctrl.search_criteria.date_end__gte" is-open="date_end_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="date_end_picker = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6">
		<label for="date_beg" class="control-label small">end</label>
		<div class="input-group">
			<input type="text" id="date_beg" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" timepicker-options="{readonlyInput: false, showMeridian: false}" ng-model="ctrl.search_criteria.date_beg__lte" is-open="date_beg_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="date_beg_picker = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="form-group">
	<label for="wavelnth" class="control-label">Wavelength</label>
	<ui-select multiple="true" id="wavelnth" ng-model="ctrl.search_criteria.wavelnth__in" theme="bootstrap">
		<ui-select-match placeholder="select wavelengths">{{$item}}</ui-select-match>
		<ui-select-choices repeat="wavelnth in ctrl.form_config.wavelnth | filter: $select.search">
		  <div ng-bind-html="wavelnth | highlight: $select.search"></div>
		</ui-select-choices>
	  </ui-select>
</div>
<div class="form-group">
	<label for="obs_mode" class="control-label">Observation mode</label>
	<ui-select multiple="true" id="obs_mode" ng-model="ctrl.search_criteria.obs_mode__in" theme="bootstrap">
		<ui-select-match placeholder="select or search observation mode">{{$item}}</ui-select-match>
		<ui-select-choices repeat="obs_mode in ctrl.form_config.obs_mode | filter: $select.search">
		  <div ng-bind-html="obs_mode | highlight: $select.search"></div>
		</ui-select-choices>
	  </ui-select>
</div>