<div class="form-group">
	<label for="tags" class="control-label">Tags:</label>
	<ui-select multiple="true" ng-model="ctrl.search_criteria.selected_tags" theme="bootstrap">
		<ui-select-match placeholder="select or search tags">{{$item.name}}</ui-select-match>
		<ui-select-choices repeat="tag in ctrl.tags | filter:{name: $select.search}">
		  <div ng-bind-html="tag.name | highlight: $select.search"></div>
		</ui-select-choices>
	  </ui-select>
</div>
<div class="row">
	<label class="control-label col-md-12">Observation date</label>
	<div class="form-group col-md-6" ng-class="{'has-error': ctrl.search_criteria.start_date > ctrl.search_criteria.end_date}">
		<label for="start_date" class="control-label">start</label>
		<div class="input-group">
			<input type="text" id="start_date" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" ng-model="ctrl.search_criteria.start_date" is-open="opened_datetime_picker['start_date']" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="opened_datetime_picker['start_date'] = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group col-md-6" ng-class="{'has-error': ctrl.search_criteria.start_date > ctrl.search_criteria.end_date}">
		<label for="end_date" class="control-label">end</label>
		<div class="input-group">
			<input type="text" id="end_date" class="form-control" datetime-picker ng-model-options="{timezone: 'UTC'}" ng-model="ctrl.search_criteria.end_date" is-open="opened_datetime_picker['end_date']" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="opened_datetime_picker['end_date'] = true" title="Click to open date picker">
					<span class="glyphicon glyphicon-calendar"></span>
				</button>
			</span>
		</div>
	</div>
</div>

