<!doctype html>
<html ng-app="SVOApp">
<head>
	<meta charset="utf-8">
	
	<!-- For bootstrap -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- style sheets -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.16.1/select.css">
	<link rel="stylesheet" href="libs/datetime-picker/datetime-picker.css">
	
	<!-- Libs -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-resource.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.16.1/select.js"></script>
	
	<script src="libs/angular-resource-tastypie/angular-resource-tastypie.js"></script>
	<script src="libs/datetime-picker/datetime-picker.js"></script>
	<script src="libs/angular-loading-overlay/angular-loading-overlay.js"></script>
	<script src="libs/checklist-model/checklist-model.js"></script>
		
	<!-- global config module -->
	<script src="global/module.js"></script>
	<script src="global/filters.js"></script>
	
	<!-- SVO app -->
	<script src="svo.module.js"></script>
	<script src="svo.controllers.js"></script>
	
	<!-- messaging module -->
	<script src="messaging/module.js"></script>
	<script src="messaging/services.js"></script>
	<script src="messaging/controllers.js"></script>
	
	<!-- authentication module -->
	<script src="authentication/module.js"></script>
	<script src="authentication/resources.js"></script>
	<script src="authentication/services.js"></script>
	<script src="authentication/controllers.js"></script>
	
	<!-- dataset module -->
	<script src="dataset/module.js"></script>
	<script src="dataset/resources.js"></script>
	<script src="dataset/services.js"></script>
	<script src="dataset/controllers.js"></script>
	
	<!-- data_selection module -->
	<script src="data_selection/module.js"></script>
	<script src="data_selection/resources.js"></script>
	<script src="data_selection/controllers.js"></script>
	
	<!-- event module -->
	<script src="event/module.js"></script>
	<script src="event/resources.js"></script>
	<script src="event/services.js"></script>
	<script src="event/controllers.js"></script>
	<script src="event/filters.js"></script>
</head>

<body ng-controller="SVOController as svo_ctrl" class="container-fluid">
		<nav id="menu" class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active"><a ui-sref="dataset">Datasets</a></li>
					<li ui-sref-active="active"><a ui-sref="data_selection">Data selections</a></li>
					<li ui-sref-active="active"><a ui-sref="event">Events</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right" ng-switch on="svo_ctrl.authentication.user.is_authenticated()">
					<li ng-switch-when="true"><button class="btn btn-default navbar-btn" ng-click="svo_ctrl.authentication.logout()">Logout</button></li>
					<li ng-switch-default><button class="btn btn-default navbar-btn"  ng-click="svo_ctrl.authentication.login()">Login</button></li>
					<!-- ugly hack because of ?bug? in bootstrap -->
					<li>&nbsp;&nbsp;&nbsp;</li>
				</ul>
			</div>
		</nav>
	<div ui-view id="content" class="container-fluid"></div>
</body>
</html>


