<div class="row">
	<table class="table table-hover table-responsive" bs-loading-overlay bs-loading-overlay-reference-id="{{ctrl.overlay_id}}">
		<tr>
			<th>FTP</th>
			<th># Items</th>
			<th>Name</th>
			<th>Date of creation</th>
			<th>Last update</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="data_selection in ctrl.page.objects" ng-click="ctrl.open_detail(data_selection)">
			<td>
				<a href="{{data_selection.ftp_link}}" target="_blank" ng-click="$event.stopPropagation();">
					<span class="glyphicon glyphicon-folder-open"></span>
				</a>
			</td>
			<td>{{data_selection.number_items}}</td>
			<td>{{data_selection.name}}</td>
			<td>{{data_selection.created | date : "yyyy-MM-dd HH:mm" }}</td>
			<td>{{data_selection.updated | date : "yyyy-MM-dd HH:mm" }}</td>
			<td>
				<button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.delete_data_selection(data_selection); $event.stopPropagation();">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
			<tr ng-switch="ctrl.page.objects.length > 0">
				<td ng-switch-when="true" class="text-center small" colspan="100">Click on any row to see data selection details</td>
				<td ng-switch-default class="text-center text-warning" colspan="100">You have not saved any data selection yet</td>
			</tr>
	</table>
</div>