<div class="modal-header">
	<button type="button" class="pull-right close" ng-click="$dismiss()" title="Close the window">
		<span >&times;</span>
	</button>
	<h3 class="modal-title">{{ctrl.data_selection_group.name}}</h3>
</div>
<div class="modal-body">
	<table class="table table-responsive">
		<thead>
			<tr>
				<th>ZIP</th>
				<th># Items</th>
				<th>Dataset</th>
				<th>Date of creation</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tfoot>
			<tr ng-hide="ctrl.data_selections.length > 0"><td class="text-center text-warning" colspan="6">Empty data selection.</td></tr>
		</tfoot>
		<tbody>
			<tr ng-repeat="data_selection in ctrl.data_selections">
				<td ng-switch="data_selection.number_items <= 100">
					<a ng-switch-when="true" href="/SDA/data_selection/data_selection/download_zip/{{data_selection.id}}" ng-click="$event.stopPropagation();" title="Download selection as zip file">
						<span class="glyphicon glyphicon-compressed"></span>
					</a>
					<span ng-switch-when="false" class="glyphicon glyphicon-compressed text-muted" title="The selection is too large to be download as zip file"></span>
				</td>
				<td>{{data_selection.number_items}}</td>
				<td>{{data_selection.dataset.name}}</td>
				<td>{{data_selection.created | date : "yyyy-MM-dd HH:mm" }}</td>
				<td>
					<button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.delete_data_selection(data_selection); $event.stopPropagation();">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
