<div class="modal-header">
	<h3 class="modal-title">{{ctrl.data_selection_group.name}}</h3>
</div>
<div class="modal-body">
	<table class="table table-responsive">
		<thead>
			<tr>
				<th># Items</th>
				<th>Dataset</th>
				<th>Date of creation</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tfoot>
			<tr ng-hide="ctrl.data_selections.length > 0"><td class="text-center text-warning" colspan="6">Empty data selection.</td></tr>
		</tfoot>
		<tbody>
			<tr ng-repeat="data_selection in ctrl.data_selections">
				<td>{{data_selection.number_items}}</td>
				<td>{{data_selection.dataset.name}}</td>
				<td>{{data_selection.created | date : "yyyy-MM-dd HH:mm" }}</td>
				<td>
					<button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.delete_data_selection(data_selection); $event.stopPropagation();">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
