<div class="modal-header" ng-class="{ 'bg-success': ctrl.state == 'success', 'bg-danger': ctrl.state == 'error' }">
	<h3 class="modal-title" >Save selection</h3>
</div>
<div class="modal-body" ng-switch="ctrl.state">
	<div ng-switch-when="success" class="text-success">
		<p>Succesfully saved data selection.</p>
		<p>See <a ui-sref="data_selection">Data selections</a></p>
		<div class="text-center"> 
			<button type="button" class="btn btn-primary" ng-click="ctrl.closeModal()">Close</button>
		</div>
	</div>
	<div ng-switch-when="error" class="text-danger">
		<p>Error while saving data selection.</p>
		<p>{{ctrl.error_message}}</p>
		<div class="text-center"> 
			<button type="button" class="btn btn-primary" ng-click="ctrl.closeModal()">Close</button>
		</div>
	</div>
	<div ng-switch-default>
		<form ng-submit="ctrl.saveDataSelection(ctrl.selected_user_data_selection)">
			<div class="form-group">
				<label for="data_selection" class="control-label">Selection name:</label>
				<ui-select ng-model="ctrl.selected_user_data_selection" theme="bootstrap">
					<ui-select-match placeholder="select or type new name">{{$select.selected.name || $select.search}}</ui-select-match>
					<ui-select-choices repeat="user_data_selection in ctrl.user_data_selections | filter:{name: $select.search}" refresh="ctrl.addOption($select)" refresh-delay="0">
					  <div ng-bind-html="user_data_selection.name | highlight: $select.search"></div>
					</ui-select-choices>
				  </ui-select>
			</div>
			<input type="submit" value="Save" class="btn btn-primary btn-md" />
		</form>
	</div>
</div>