<div class="modal-header">
	<button type="button" class="pull-right close" ng-click="$dismiss()" title="Close the window">
		<span >&times;</span>
	</button>
	<h3 class="modal-title">{{ctrl.object.event_type | fullType}}</h3>
</div>
<div class="modal-body">
	<img ng-if="ctrl.object.gs_thumburl" ng-src="{{ctrl.object.gs_thumburl}}" class="img-responsive center-block" alt="Image of the event"/>
	<dl class="dl-horizontal">
		<dt>Start time</dt>
		<dd>{{ctrl.object.event_starttime}}</dd>
		<dt>End time</dt>
		<dd>{{ctrl.object.event_endtime}}</dd>
		<dt>Recognition method</dt>
		<dd>{{ctrl.object.frm_name}}</dd>
		<dt>Identifier name</dt>
		<dd>{{ctrl.object.frm_identifier}}</dd>
	</dl>
	<a href="http://www.lmsal.com/hek/her?cmd=view-voevent&ivorn={{ctrl.object.kb_archivid}}" target="_blank">See more details</a>
</div>
