<div class="row">
	<div class="col-md-4">
		<form ng-submit="ctrl.search(ctrl.search_criteria)">
			<div class="form-group">
				<label for="event_types" class="control-label">Event types</label>
				<ui-select multiple="true" ng-model="ctrl.search_criteria.selected_event_types" theme="bootstrap">
					<ui-select-match placeholder="select or search event type">{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="event_type in ctrl.form_config.event_types | filter:{name: $select.search}">
					  <div ng-bind-html="event_type.name | highlight: $select.search"></div>
					</ui-select-choices>
				  </ui-select>
			</div>
			<div class="row">
				<label class="control-label col-md-12">Event date</label>
				<div class="form-group col-md-6" ng-class="{'has-error': ctrl.search_criteria.event_starttime > ctrl.search_criteria.event_endtime}">
					<label for="start_time" class="control-label">start</label>
					<div class="input-group">
						<input type="text" id="start_time" datetime-picker ng-model-options="{timezone: 'UTC'}" timepicker-options="{readonlyInput: false, showMeridian: false}" class="form-control" ng-model="ctrl.search_criteria.event_starttime" is-open="start_time_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="start_time_picker = true">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="form-group col-md-6" ng-class="{'has-error': ctrl.search_criteria.event_starttime > ctrl.search_criteria.event_endtime}">
					<label for="end_time" class="control-label">end</label>
					<div class="input-group">
						<input type="text" id="end_time" datetime-picker ng-model-options="{timezone: 'UTC'}" timepicker-options="{readonlyInput: false, showMeridian: false}" class="form-control" ng-model="ctrl.search_criteria.event_endtime" is-open="end_time_picker" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="end_time_picker = true">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<input type="submit" value="Search" class="btn btn-primary btn-md" />
		</form>
	</div>

	<div class="col-md-8" bs-loading-overlay bs-loading-overlay-reference-id="{{ctrl.overlay_id}}">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th></th>
					<th>Type</th>
					<th>Start date</th>
					<th>End date</th>
				</tr>
			</thead>
			<tfoot>
				<tr ng-switch="ctrl.objects.length > 0">
					<td ng-switch-when="true" class="text-center small" colspan="100">Click on any row to see event details</td>
					<td ng-switch-default class="text-center text-warning" colspan="100">No event correspond to your search criteria</td>
				</tr>
			</tfoot>
			<tbody>
				<tr ng-repeat="object in ctrl.objects">
					<td><label class="wide-label"><input type="checkbox" checklist-model="ctrl.selected_events" checklist-value="object"/></label></td>
					<td ng-click="ctrl.open_detail(object)">{{object.event_type | fullType}}</td>
					<td ng-click="ctrl.open_detail(object)">{{object.event_starttime}}</td>
					<td ng-click="ctrl.open_detail(object)">{{object.event_endtime}}</td>
				</tr>
			</tbody>
		</table>
		<div role="group">
			<button type="button" class="btn btn-primary" ng-click="ctrl.search_datasets(ctrl.selected_events)" ng-class="{'disabled': ctrl.selected_events.length == 0}" title="Select one or more event to search for overlapping data">Search overlapping</button>
			<div class="pull-right">
					<button type="button" class="btn btn-default btn-sm previous" ng-click="ctrl.change_page(ctrl.objects.page_number - 1)" ng-class="{'disabled': ctrl.objects.page_number <= 1}">&larr;</button>
					<button type="button" class="btn btn-default btn-sm next" ng-click="ctrl.change_page(ctrl.objects.page_number + 1)">&rarr;</button>
			</div>
		</div>

	</div>
</div>