<div ng-controller="DataSelectionController">
	<table class="table table-hover table-responsive">
		<tr>
			<th># Items</th>
			<th>Name</th>
			<th>Date of creation</th>
			<th>Last update</th>
			<th>Datasets</th>
		</tr>
		<tr ng-repeat="data_selection in data_selections" ng-click="">
			<td>{{data_selection.number_items}}</td>
			<td>{{data_selection.name}}</td>
			<td>{{data_selection.created | date : "yyyy-MM-dd HH:mm" }}</td>
			<td>{{data_selection.updated | date : "yyyy-MM-dd HH:mm" }}</td>
			<td>{{data_selection.datasets.join(', ')}}</td>
		</tr>
	</table>
</div>
